:root{
    --fondo-oscuro: #030712;
    --texto: #E1E8F0;
    --texto-rojo: #FCA5A5;
    --header: #AE2029;
    --hover: #440909;
    --texto-gris-900: #334155;
    --gris-900: #101727;
    --gris-50: #F7F8F9;
}
