:root{
	--fondo: #171717;
	--menu: #ff0000;
}




body{
	color: #ffff;
	background-color: var(--fondo);
	margin: unset;
	font-family: sans-serif;
}

.doc{
	font-family: sans-serif;
	line-height: 170%;
	margin-left: 7%;
	margin-right: 7%;
}
.doc p{
	margin-top: 7%;
}
.imagen{
	grid-area: imagen;
}
.imagen3{
	vertical-align: middle;
	width: 488px;
	display:block;
	margin: auto;
	padding: 15px;
}
.slogan{
	font-family: sans-serif;
	font-size: 237%;
	font-weight:100;
	line-height: 200%;
	letter-spacing: 3px;
	font-style:normal;
}
.resumen{
	background-image:radial-gradient(at left bottom, #171717a6 7%, #1717178a 100%), url(./img/backgrund2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top:7%;
	width: auto;
	height: 350px;
}
.texto{
	display:inline-block;
	line-height: 30px;
	width: 70%;
	height: 350px;
}
.text2{
	grid-area: text2;
	margin-left: 2%;
}
.imagen{
	grid-area: imagen;
}
.imagen3{
	vertical-align: middle;
	width: 950px;
	display:block;
	margin: auto;
	padding: 15px;
}